* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

main {
    flex-grow: 1;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}




/*-----------------delivery----------------*/

.delivery {
    background: #212121;
    color: #fff;
    text-align: center;
}

.delivery .container {
    padding-top: 80px;
    padding-bottom: 60px;
}

.delivery__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.delivery__title span {
    font-weight: normal;

}

.delivery__text {
    font-size: 21px;
}


/*--------------man-woman-----------------------*/

.man-woman .container {
    display: flex;
    flex-direction: row;
}

.man,
.woman {
    width: 50%;
}