* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

main {
    flex-grow: 1;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}




/*-----------------delivery-----------------------*/

.delivery {
    background: #212121;
    color: #fff;
    text-align: center;
}

.delivery .container {
    padding-top: 80px;
    padding-bottom: 60px;
}

.delivery__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.delivery__title span {
    font-weight: normal;

}

.delivery__text {
    font-size: 21px;
}


/*----------------man-woman-----------------------*/

.man-woman {
    background: linear-gradient(90deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
}

.man-woman .container {
    display: flex;
    flex-direction: row;
}

.man,
.woman {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px
}

.woman {
    background: url(../image/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    padding-left: 35px;
}

.man {
    background: url(../image/man.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.man-woman h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.man-woman h2 span {
    font-weight: normal;
}

.man-woman p {
    font-weight: 300;
}

.man-woman a {
    display: flex;
    background: #D7B399;
    height: 30px;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.man-woman a:hover {
    background-color: #947762;
}

/*----------------header-menu-----------------------*/
header {
    min-height: 800px;
    background-color: #F9F6F1;
}

.header-menu {
    min-height: 90px;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
}

.mainmenu__list {
    display: flex;
}






